<a href="#menu3" data-toggle="collapse">
    <i class="nav-icon far fa-calendar-alt"></i>
    <span> Chart Report</span>
    <span class="menu-arrow"></span>
</a>
<div class="collapse" id="menu3">
    <ul class="nav-second-level">
        <li>
            <a href="#snack-report" data-toggle="collapse">
                <i class="fas fa-caret-down"></i>
                <span>Snack</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="snack-report">
                <ul class="nav-second-level">
                    <li>
                        <a href="#electric1-report" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Electric 1-2</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="electric1-report">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Kenh2","Report")">LP-Rice Cracker1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh3","Report")">LP-Rice Cracker2</a>
                                </li>
                                @*<li>
                                    <a href="@Url.Action("Kenh1","Report")">Chart LP-SNACK-3 Report</a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("Kenh5","Report")">DP-Rice Cracker1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh4","Report")">DP-Rice Cracker2</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh6","Report")">DP-Rice Cracker3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#electric2-report" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Electric 2-2</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="electric2-report">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Kenh4", "ReportElectric2")">DB-PC 15</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh5", "ReportElectric2")">DB-PC 10</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh6", "ReportElectric2")">DB-SNACK 1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh7", "ReportElectric2")">DB-SNACK 2</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh8", "ReportElectric2")">DB-SNACK 3</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh9", "ReportElectric2")">DB-SNACK 4</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh10", "ReportElectric2")">LP-PC 15</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh11", "ReportElectric2")">LP-SNACK 1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#gas-report" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Gas</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="gas-report">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("GasReport","Gas")">Gas-Rice Cracker1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CngPc15Report","Gas")">CNG-PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#water-report" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Water</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="water-report">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("WaterReport","Water")">Water-Rice Cracker1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WaterPc15Report","Water")">Water-PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#steam-report" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Steam</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="steam-report">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("PC10Report","Steam")">Steam PC 10</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PC15Report","Steam")">Steam PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#solar_report" data-toggle="collapse">
                <i class="fas fa-caret-down"></i>
                <span>Hệ năng lượng mặt trời</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="solar_report">
                <ul class="nav-second-level">
                    <li>
                        <a href="@Url.Action("Solar1Report","Solar_Logistic")">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>DB-Solar 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar2Report","Solar_Logistic")">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>DB-Solar 2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="@Url.Action("LogisticReport","Solar_Logistic")">
                <i class="fas fa-caret-down"></i>
                <span>Kho Logistic</span>
            </a>
        </li>
    </ul>
</div>