<a href="#menu2" data-toggle="collapse">
    <i class="nav-icon fas fa-chart-pie"></i>
    <span> Chart Online</span>
    <span class="menu-arrow"></span>
</a>
<div class="collapse" id="menu2">
    <ul class="nav-second-level">
        <li>
            <a href="#snack-online" data-toggle="collapse">
                <i class="fas fa-caret-down"></i>
                <span>Snack</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="snack-online">
                <ul class="nav-second-level">
                    <li>
                        <a href="#electric1-online" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Electric 1-2</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="electric1-online">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Kenh2Online", "Electric1")">LP-SNACK-1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh3Online", "Electric1")">LP-SNACK-2</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh1Online", "Electric1")">LP-SNACK-3</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh5Online", "Electric1")">DP-SNACK-1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh4Online", "Electric1")">DP-SNACK-2</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh6Online", "Electric1")">DP-SNACK-3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#electric2-online" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Electric 2-2</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="electric2-online">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Kenh4Online", "Electric2")">DB-PC 15</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh5Online", "Electric2")">DB-PC 10</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh6Online", "Electric2")">DB-SNACK 1</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh7Online", "Electric2")">DB-SNACK 2</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh8Online", "Electric2")">DB-SNACK 3</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh9Online", "Electric2")">DB-SNACK 4</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh10Online", "Electric2")">LP-PC 15</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Kenh11Online", "Electric2")">LP-SNACK 1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#gas-online" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Gas</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="gas-online">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","Gas")">Gas</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CngPc15","Gas")">CNG-PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#water-online" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Water</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="water-online">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","Water")">Water</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WaterPc15","Water")">Water-PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#steam-online" data-toggle="collapse">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>Steam</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="steam-online">
                            <ul class="nav-second-level">
                                <li>
                                    <a href="@Url.Action("PC10","Steam")">Steam PC 10</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PC15","Steam")">Steam PC 15</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#solar_online" data-toggle="collapse">
                <i class="fas fa-caret-down"></i>
                <span>Hệ năng lượng mặt trời</span>
                <span class="menu-arrow"></span>
            </a>
            <div class="collapse" id="solar_online">
                <ul class="nav-second-level">
                    <li>
                        <a href="@Url.Action("Solar1","Solar_Logistic")">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>DB-Solar 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar2","Solar_Logistic")">
                            <i class="fas fa-circle fa-xs"></i>
                            <span>DB-Solar 2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="@Url.Action("Logistic","Solar_Logistic")">
                <i class="fas fa-caret-down"></i>
                <span>Kho Logistic</span>
            </a>
        </li>
    </ul>
</div>